@media screen and (min-width: 769px) {
  #toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #popout {
    position: fixed;
    height: 100%;
    width: 250px;
    background: rgb(25, 25, 25);
    background: rgba(25, 25, 25, 0.9);
    color: white;
    top: 0px;
    left: -250px;
    overflow: auto;
  }

  #toggle {
    float: right;
    position: fixed;
    top: 13px;
    right: 2%;
    width: 28px;
    height: 24px;
  }

  ul#menu-primary {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  ul#menu-primary li {
    font-size: 2.2rem;
    padding: 2rem;
    a {
      transition: all 0.2s;
      display: inline-block;
      text-decoration: none;

      &:link,
      &:visited {
        color: $color-primary;
      }

      &:hover {
        transform: scale(1.1);
        border-bottom: 3px solid $color-primary;
      }
    }
  }
}
