.contact {
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1000px;
}

#wpcf7-f65-o1 {
  input {
    background-color: rgba($color-secondary-light, 0.4);
  }

  textarea {
    background-color: rgba($color-secondary-light, 0.4);
  }
}
