.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 0;
  background-color: $color-tertiary;

  @media only screen and (max-width: 425px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__copyright {
    @media only screen and (max-width: 425px) {
      text-align: center;
      grid-row: 3/4;
    }
  }

  &__logo {
    justify-self: center;
    img {
      height: 6rem;
    }
    @media only screen and (max-width: 425px) {
      grid-row: 1/2;
    }
  }
  &__socials {
    justify-self: flex-end;

    @media only screen and (max-width: 425px) {
      grid-row: 2/3;
      justify-self: center;
    }
  }
}

//social media links
.norm_row,
.sfsi_wDiv {
  text-align: right !important;
  @media only screen and (max-width: 425px) {
    text-align: center !important;
  }
}
