.statepage {
  padding: 0 3rem;

  figure {
    padding: 2rem;
  }

  img {
    height: 300px;
    width: auto !important;
    margin: 0;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  }
  a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 2.5rem;
    &:link,
    &:visited {
      color: $color-primary;
    }

    &:hover {
      transform: scale(1.1);
      border-bottom: 3px solid $color-primary;
      transition: all 0.4s;
    }
  }

  &__btn {
    background-color: $color-secondary;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s;
    }

    a {
      color: $color-white;
    }
  }

  #map {
    color: $color-white;
  }
}
