// COLOR VARIABLES
$color-primary: #698ebf;
$color-primary-light: #b3cff2;

$color-secondary: #027368;
$color-secondary-light: #03a696;

$color-tertiary: #d9a78b;
$color-quad: #7c1019;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
